@inherits LayoutComponentBase
@inject IJSRuntime JS

@using Microsoft.AspNetCore.Components.Authorization

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("hideAppLoader");
    }
}
