@page "/"

<div class="modern-split-container">
    <div class="modern-left-panel" style="width: 25%;">
        <div class="modern-panel-content">
            <FamilyAI.Presentation.User.Menu />
        </div>
        <div class="modern-resize-handle"></div>
    </div>

    <div class="modern-right-panel">
        <div class="modern-panel-content">
            <FamilyAI.Presentation.User.Main />
        </div>
    </div>
</div>

