@page "/"
@using FamilyAI.Presentation.Layout




<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.
<br />
<br />
<div> Sign in</div>
<br/>

<div><a href="AdminLayout">Admin Layout</a></div>
<br />
<div> User Layout</div>
