@page "/UserMenu"
@using FamilyAI.Domain.Models
@using FamilyAI.Infrastructure.Services
@using FamilyAI.Presentation.Layout
@using Microsoft.AspNetCore.Components.Authorization
@layout UserLayout

@inject ThreadService threadService

@rendermode InteractiveServer

<CascadingAuthenticationState>

<AuthorizeView Roles="Admin">
    <Authorized>

            <ul>
                @foreach (var thread in threadModels)
                {
                    <li style="color:white">@thread.ThreadName</li>
                }

            </ul>
                     </Authorized>
    <NotAuthorized>
        <p>You do not have access to this page.</p>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>

@code {
    List<ThreadModel> threadModels = new List<ThreadModel>();
    int userId = 1;

    protected override void OnInitialized()
    {
        userId = AuthState.CurrentUser.UserId;
        threadModels = threadService.GetAllThreadsByUser(userId);
    }
}

